<!DOCTYPE html>
<html>
	<title>Machine Learning Projects</title>
	<link rel="stylesheet" href='/static/home.css' />
	<script src="index.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<body>
		<header class="head-content">
			<h2>
				PROJECT'S SHOWCASE
			</h2>
		</header>
		<br>
		<div class="main-content">

		<a href="/IrisClass" class="hyperlink">
			<div class="details">
				 Iris Flower Classification 

		</div>
		</a>
		<br/>
		<a href="/TitanicPred" class="hyperlink">
		<div class="details">
			Titanic Survival Prediction 
		</div>
		</a>




		</div>
		<footer class="foot-content">
			
			<a href="https://github.com/ShashankHebbarS/Data-Science-Project" class="foothyperlink" > 
				@ Machine Learning Projects
			</a>
		</footer>

	</body>
</html> 